
<div>
  <input id="repository" name="repository" class="text_input" type=text></input>
  <a href="javascript:add_repository()">Add Repository</a>
  <a href="javascript:remove_repository()">Remove Repository</a>
  <a href="javascript:remove_all_db_data()">Remove All DB Data</a>
  <a href="javascript:add_the_two()">Gitique+Fork</a>
</div>
<br />
<div>
  Existing Backends: <%= @repo_backends.length %><br />
  Existing Repositories (<%= @repositories.length %>):<br />
  <% @repositories.each do |repo| %>
  <% begin %>
    <%= repo.backend.commits.length %>
    &nbsp;&nbsp;<%= repo.sha1 %> .:. <%= repo.url %> .:. <%= repo.backend.commits.length %><br />
    
    <% repo.backend.commits.each do |commit| %>
      &nbsp;&nbsp;&nbsp;&nbsp;<%= commit.sha1 %><br />
    <% end %>
  <% rescue %>
    <br />
  <% end %>
  <% end %>
  
</div>

<script type="text/javascript">
function add_repository()
{
  $.post(
    "repositories/add",

    {url: $('#repository')[0].value},

    function(msg) {
    }
  );
}

function remove_repository()
{
  $.post(
    "repositories/remove",

    {url: $('#repository')[0].value},

    function(msg) {
    }
  );
}

function remove_all_db_data() {
  $.post(
    "repositories/remove_db"
  );
}

function add_the_two() {
  $.post(
    "repositories/add?url=git://github.com/omnigoat/gitique.git"
  );

  $.post(
    "repositories/add?url=git://github.com/omnigoat/gitique-fork.git"
  );
}
</script>
