

<% if @user.nil? %>
	no user by that name!
<% else %>
	<% begin %>
		<%= @user.username %>
		<ul>
		<% @user.repositories.each do |repo| %>
			<li>
			<%= form_tag("/repositories/remove") do %>
				<%= link_to(repo.name, @user.username	+ "/" + repo.name) %>
				<%= link_to("Remove", repositories_path(:name => repo.name), :method => :delete) %>
			<% end %>
			</li>
		<% end %>
		</ul>


		<%= form_tag("/repositories/disambiguate") do %>
			<%= hidden_field_tag(:username, @user.username) %>
			<div class="field">
				<%= label_tag :name %><br />
				<%= text_field_tag :name %>
			</div>
			<div class="field">
				<%= label_tag :url %><br />
				<%= text_field_tag :url %>
			</div>
			<div class="actions">
				<%= submit_tag "Add Repository", :name => :add %>
			</div>
		<% end %>
	
	<% rescue %>
	<% end %>

<div>
	<a href="javascript:remove_all_db_data()">Remove All DB Data</a>
	<a href="javascript:add_the_two()">Gitique+Fork</a>
</div>
<br />


<script type="text/javascript">
	function remove_all_db_data() {
		$.post(
			"repositories/remove_db"
		);
	}

	function add_the_two() {
		$.post(
			"repositories/add?url=git://github.com/omnigoat/gitique.git&username=jona",
			function () {
				$.post(
					"repositories/add?url=git://github.com/omnigoat/gitique-fork.git&username=jona"
				);
			}
		);
	}
</script>


<% end %>