
	<!-- resize plugin for jquery -->
	<script type="text/javascript" src="/javascripts/jquery.ba-resize.min.js"></script>
	 
	<!-- jj -->
	<script type="text/javascript" src="/javascripts/jj.js"></script>
	<script type="text/javascript" src="/javascripts/jaja.js"></script>
	<script type="text/javascript" src="/javascripts/jaja.core.js"></script>
	<script type="text/javascript" src="/javascripts/jaja.dynasize.js"></script>
	<script type="text/javascript" src="/javascripts/jaja.scrollbar.js"></script>
	<script type="text/javascript" src="/javascripts/jaja.esh.js"></script>




<!-- -----------------------------------------------------
style
------------------------------------------------------ -->
<style>
	html, body {
		position: absolute;
		bottom: 0px;
		top: 0px;
		left: 0px;
		right: 0px;
		margin: 0px;
		padding: 0px;
		border: none;
		overflow: hidden;
	}
	/*
	td.gutter div.line.active {
		border-top: 1px dashed white !important;
		border-bottom: 1px dashed white !important;
		border-left: 1px dashed white !important;
		margin-top: -1px !important;
		margin-bottom: -1px !important;
		margin-left: -1px !important;
	}
	
	div.container div.line.active {
		border-top: 1px dashed white !important;
		border-right: 1px dashed white !important;
		border-bottom: 1px dashed white !important;
		margin: -1px !important;
	}
	*/
	
	#simplemodal-container {
		background: white;
		-moz-box-shadow: 0px 0px 10px black;
		-webkit-box-shadow: 0px 0px 10px black;
		box-shadow: 0px 0px 10px black;
		padding: 10px;
	}
	
	.floatingbox {
		-moz-box-shadow: 0px 0px 10px black;
		-webkit-box-shadow: 0px 0px 10px black;
		box-shadow: 0px 0px 10px black;
	}
	
	#title {
		padding: 2px;
		margin: 10px;
	}
	
	#title span.title {
		font-size: 3em;
	}
	
	#title span.info {
		font-size: 1em;
		color: #aaaaaa;
		font-style: italic;
	}
	
	#lhs {
		float: left;
		width: 40%;
		position: relative;
	}
	
	#rhs {
		float: right;
		width: 60%;
		position: relative;
	}

	/*****************************************************************
	* TABS
	*****************************************************************/
	div.tabs {
		position: relative;
		left: 2.5%;
		width: 95%;
	}

	div.tabs a {
		position: absolute;
		text-decoration: none;
		color: #eeeeee;
		font-size: 2em;
		font-family: Georgia, serif;
		font-style: italic;
		padding-right: 20px;
	}

	div.tabs a.active {
		color: #999999;
	}

	div.tabs a:hover {
		color: #bbbbff;
	}

	/*****************************************************************
	* TOOLPANES
	*****************************************************************/
	div.toolpane-container {
		position: relative;
		left: 2.5%;
	}
	

	#lhs div.toolpane-container {
		width: 95%;
	}

	#lhs div.toolpane {
		position: absolute;
		width: 100%;
	}

	#rhs div.toolpane-container {
		width: 97.5%;
	}





	div.toolpane span.heading {
		font-size: 2em;
		font-family: Georgia, serif;
		font-style: italic;
		//font-weight: normal;
		color: #aaaaaa;
	}

	td.gutter div.line.highlighted2 {
		background-color: #ffffaa !important;
		border: 1px solid black;
	}

	div.toolpane span.minor-heading {
		font-size: 0.9em;
		font-family: Courier New;
		color: #aaaaaa;
	}

	div.toolpane span.minor-heading a {
		font-size: 0.9em;
		font-family: Courier New;
		color: #aaaaaa;
	}







	#critiques {
		overflow: hidden;
		width: 100%;
		height: 100%;
	}
	
		.critique {
			-moz-box-shadow: 0px 0px 10px black;
			-webkit-box-shadow: 0px 0px 10px black;
			box-shadow: 0px 0px 10px black;
			margin: 10px;
			padding: 50px;
			width: 100%px;
		}
		
		.critique:hover {
			-moz-box-shadow: 0px 0px 10px blue;
			-webkit-box-shadow: 0px 0px 10px blue;
			box-shadow: 0px 0px 10px blue;
		}
	
 
	#viewer {
//		margin: 10px 0px 10px 10px;
	//	-moz-box-shadow: 0px -0px 10px black;
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
	}

	#mainpre {
		overflow: hidden;
	}

	
	.toolpane {
		visibility: hidden;
	}

	.toolpane.active {
		visibility: visible;
	}

	.jaja-ui-button {
		-moz-border-radius: 2px;
		border-radius: 2px;
		background: #efefef;
		text-align: center;
		vertical-align: text-bottom;
		font-size: 12px !important;
		border: 1px solid #efefef;
	}
	
	.jaja-ui-scrollbar-bar {
		background: #f2f2f2;
	}
	
	.jaja-ui-scrollbar-nub {
		-moz-border-radius: 2px;
		border-radius: 2px;
		background: #dfdfdf;
		border: 1px solid #dfdfdf;
	}
	
	.jaja-ui-scrollbar-nub.jaja-ui-poised {
		border: 1px solid #999999;
	}
	
	.jaja-ui-scrollbar-nub.jaja-ui-active {
		background: #ddddff;
		border: 1px solid #aaaaff;
	}
	
	.jaja-ui-button.jaja-ui-poised {
		background: #e5e5e5;
		border: 1px solid #aaaaaa;
	}
	
	.jaja-ui-button:hover {
		background: #eeeeff;
	}
	
	.jaja-ui-scrollbar.jaja-ui-vertical .jaja-ui-button {
		-moz-transform: rotate(90deg);	/* FF3.5+ */
		-o-transform: rotate(90deg);	/* Opera 10.5 */
		-webkit-transform: rotate(90deg);	/* Saf3.1+, Chrome */
	}
	
	div.container {
		position: relative !important;
		overflow: hidden !important;
		top: 0px !important;
	}
	
	div.container-wrapper {
		overflow: hidden !important;
	}
	
	div.syntaxhighlighter {
		top: 0px;
	}
	
	div.toolbar {
		display: none !important;
	}
	
</style>





<!-- -----------------------------------------------------
visible layout
------------------------------------------------------ -->

	<!-- title -->
	<div id="title">
		<span class='title'>Gitique</span><span class='info'>logged in as blah blah blah</span>
	</div>



	<!-- LHS -->
	<div id="lhs">

		<!-- tabs -->
		<div class="tabs">			
			<a class="toolpane-critiques" href="javascript:switch_lhs_toolpane('.toolpane-critiques')">Critiques</a>&nbsp;
			<a class="toolpane-new-critique" href="javascript:switch_lhs_toolpane('.toolpane-new-critique')">New Critique</a>
		</div>

		<div class="toolpane-container" style="position: relative">

			<!-- critiques (default) -->
			<div class="toolpane toolpane-critiques active">				
				<div class="critique">
					<span class="name"></span><span class="date"></span>
					<div class="remarks"></div>
				</div>
			</div>
			
			<!-- new critique -->
			<div class="toolpane toolpane-new-critique">
				<div style="padding-left: 10px;">
					<span class="minor-heading">Lines: <span class="line-display"><span>none</span></span></span><br />
					<textarea style="width: 100%; height: 200px; border: 1px solid grey; resize: none"></textarea>
				</div>
				<div><a href="javascript:send_critique()">Submit</a></div>
			</div>

		</div>

	</div>
	

	
	<div id="rhs">
		<!-- "viewer" -->
		<div id="viewer-wrapper" class="toolpane active">
			<span class="heading"><%= @filename.split("/")[-1] %></span>
			<div style="position: absolute; display: inline-block; right: 0; text-align: right">
				<span class="minor-heading" style="font-size: 0.8em; color: #bebebe">
					<p style="line-height: 0.9em">
					<%= @repo.url %><br /><%= @branch + ":" + @filename %>
					</p>
				</span>
			</div>
			<div id="viewer">
					<!-- actual editor -->
					<pre id="mainpre" class="brush: js;">
					</pre>

			</div>
		</div>
	</div>





<!-- -----------------------------------------------------
script
------------------------------------------------------ -->
<script type="text/javascript">
	// window.total_lines = <%= @total_lines %>;
	
	var $m = $("#mainpre");
	var main_esh = {};

	function to_line(n, m) {
		console.log( main_esh.displayable_lines() );
		main_esh.set_line( Math.max(0, n - (main_esh.displayable_lines() / 4)) /*,	m ? [n, m + 1] : [n] */ );
	}

	$(function() {

		var $viewer_wrapper = $('#viewer-wrapper'),
		    $viewer = $('#viewer')
		    ;
		

		
		jaja.dynamically_size({
			element: $viewer_wrapper,
			using: {
				height: function($w) {return $w.height() - this.offset().top;}
			}
		});

		jaja.dynamically_size({
			element: $viewer,
			in_response_to: [$viewer_wrapper],
			using: {
				height: function($vw) {return $vw.innerHeight() - this.position().top;}
			}
		});

		
		
		// if this is uncommented, then we've been testing layout stuff
		//$(window).unbind('resize');
		
		
		main_esh = jaja.ui.esh($m, {
			selection_changed: function(new_indices) {
				//console.log(ni, oi);
				var display = $("div.toolpane-new-critique .line-display");
				display.children().remove();

				$.each(new_indices, function(i) {
					display.append(
							(i > 0 ? "<span>, </span>" : "")
						+ "<a href='javascript:to_line(" + (this.length == 2 ? this[0] + "," + this[1] : this[0]) + ")'>"
						+ (this.length == 2 ? (this[0] + 1) + "-" + (this[1] + 1) : (this[0] + 1))
						+ "</a>"
					);
				});

				if (new_indices.length == 0) {
					display.append("<span>none</span>");
				}
			},
		});


		setTimeout(function(){
			main_esh.load_file("<%= @repo.sha1 %>", "<%= @branch %>", "<%= @filename %>");
		}, 1);
		

		$.getJSON('/critiques', {}, function(data) { 
			console.log("success");
			console.dir(data);

			var directive = {
				'div.critique':{
					'critique <- critiques':{
						'span.name': 'critique.username',
						'div.remarks': 'critique.remarks',
					}
				}
			};
			
			$('.toolpane.toolpane-critiques').render({critiques: data}, directive);
		});

	});
	
	
	
	function new_critique()
	{
		$("#critiques").removeClass("active");
		$("#new_critique").addClass("active");
	}
	
	
	function switch_lhs_toolpane(to, duration)
	{
		duration = duration || 200;

		var $tabs = $("#lhs div.tabs a"),
		    $active_tab = $("#lhs a.active"),
		    $new_tab = $("#lhs a" + to)
		    ;
		
		// do nothing if they've clicked on the already active tab
		if ($new_tab.get(0) === $active_tab.get(0)) {
			return false;
		}

		$("#lhs .active").removeClass("active").filter("div").animate({
			visibility: true
		});

		$(to).addClass("active");

		// get order of tabs
		var acc_left = $new_tab.outerWidth();
		$new_tab.animate({left: 0}, duration);

		$.each($tabs.not(to), function() {
			var $this = $(this);
			$this.animate({left: acc_left}, duration);
			acc_left += $this.outerWidth();
		});

		
	}
	
	jaja.dynamically_size({
		element: $("#lhs div.toolpane-container"),
		using: {
			top: function() { return $("#lhs div.tabs").position().top + $("#lhs div.tabs").outerHeight(); }
		}
	});
	
	
	switch_lhs_toolpane(".toolpane-critiques", 0);
	
	
	
	
	
	
	
	
	
	
	//=====================================================================
	// send newly-written critique to server
	//=====================================================================
	function send_critique()
	{
		var $textarea = $(".toolpane-new-critique textarea"),
		    lines = main_esh.selected_lines()
		    ;

		if (lines.length == 0 || $textarea.val() === "") {
			alert("you haven't written anything!");
			return;
		}
		
		//alert(typeof lines.indices[0][0]);
		console.dir(lines.indices);

		$.ajax({
			type: "post",
			url: "/critique",
			data:	{
				repo_genesis: "<%= @repo.genesis %>",
				username: "henry",
				commit_id: "<%= @commit_id %>",
				filepath: "<%= @filename %>",
				"lines[]": lines.indices,
				remarks: $textarea.val()
			},
			dataType: "json"
		});
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

	
	//=====================================================================
	// clear selected text
	//=====================================================================
	function clear_selection() {
		if (window.getSelection) {
			window.getSelection().removeAllRanges();
		}
		else {
			document.selection.clear();
		}
	}
	
	
	
	
	
	
	
</script>


