 
  <!-- jj -->
  <script type="text/javascript" src="/javascripts/jj.js"></script>
  <script type="text/javascript" src="/javascripts/jaja.js"></script>
  
<style>
  html, body {
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    border: none;
  }

  #simplemodal-container {
    background: white;
    -moz-box-shadow: 0px 0px 10px black;
    -webkit-box-shadow: 0px 0px 10px black;
    box-shadow: 0px 0px 10px black;
    padding: 10px;
  }
  
  .floatingbox {
    -moz-box-shadow: 0px 0px 10px black;
    -webkit-box-shadow: 0px 0px 10px black;
    box-shadow: 0px 0px 10px black;
  }
  
  #title {
    padding: 2px;
    margin: 10px;
  }
  
  #title span.title {
    font-size: 3em;
  }
  
  #title span.info {
    font-size: 1em;
    color: #aaaaaa;
    font-style: italic;
  }
  
  #critiques {
    float: left;
    width: 40%;
    overflow: hidden;
  }
  
    .critique {
      -moz-box-shadow: 0px 0px 10px black;
      -webkit-box-shadow: 0px 0px 10px black;
      box-shadow: 0px 0px 10px black;
      margin: 10px;
      padding: 50px;
      width: 100%px;
    }
    
    .critique:hover {
      -moz-box-shadow: 0px 0px 10px blue;
      -webkit-box-shadow: 0px 0px 10px blue;
      box-shadow: 0px 0px 10px blue;
    }
  
  #viewer-wrapper {
    float: right;
    width: 60%;
    height: 100%;
    overflow: hidden;
  }
  
  #viewer {
//    margin: 10px 0px 10px 10px;
  //  -moz-box-shadow: 0px -0px 10px black;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  #mainpre {
    overflow: hidden;
  }
  
  .jj-ui-button {
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #efefef;
    text-align: center;
    vertical-align: text-bottom;
    font-size: 12px !important;
    border: 1px solid #efefef;
  }
  
  .jj-ui-scrollbar-bar {
    background: #f2f2f2;
  }
  
  .jj-ui-scrollbar-nub {
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #dddddd;
    border: 1px solid #bebebe;
  }
  
  .jj-ui-scrollbar-nub.jj-ui-poised {
    border: 1px solid #999999;
  }
  
  .jj-ui-scrollbar-nub.jj-ui-active {
    background: #ddddff;
    border: 1px solid #aaaaff;
  }
  

  .jj-ui-button.jj-ui-poised {
    background: #e5e5e5;
    border: 1px solid #aaaaaa;
  }
  
  .jj-ui-button:hover {
    background: #eeeeff;
  }
  
  
  div.container {
    position: relative !important;
    overflow: hidden !important;
    top: 0px !important;
  }
  
  div.container-wrapper {
    overflow: hidden !important;
  }
  
  div.syntaxhighlighter {
    top: 0px;
  }
  
  div.toolbar {
    display: none !important;
  }
  
</style>


<!--- ----------------------------------------------------
visible layout
----------------------------------------------------- --->

  <!-- title -->
  <div id="title">
    <span class='title'>Gitique</span><span class='info'>logged in as blah blah blah</span>
  </div>

  <!-- critiques -->
  <div id="critiques">
    Critiques <a href="javascript:go()">go</a>  
    <div class="critique">
      <span class="name"></span>
    </div>
  </div>

  <!-- "viewer" -->
  <div id="viewer-wrapper">
    <div id="viewer">
        <%= @repo.url %><br />
        <%= @branch + ":" + @filename %>
    
        <!-- actual editor -->
        <pre id="mainpre" class="brush: js;">
        </pre>

    </div>
  </div>




<!-- hidden "scratch" buffer -->
<div id="shower" style="position:absolute; left:800px; visibility:hidden" class="hidden">
</div>

<!-- popup buffer -->
<div id="popupbuffer" style="display:none">
  Code:
  <pre id="bdpo" class="brush: js;">
  </pre>
  Comments:
  <textarea class="text_input text_area" name="t" id="t" cols="80" rows="4"></textarea>
  <a href="javascript:jkkj()">Ok</a>
</div>






<script type="text/javascript">
  window.repo_id = <%= @repo.id.to_s %>;
  window.branch = "<%= @branch %>";
  window.filename = "<%= @filename %>";
  window.total_lines = <%= @total_lines %>;
  
  $(function() {
    // calculate heights and widths for certain things
    $(window).resize(function() {
      //$('#critiques').height($('body').height() - $('#title').height());
      //$('#viewer').height($('body').height() - $('#title').height());
      $('#critiques').height($(window).height() - $('#critiques').position().top);
      $('#viewer-wrapper').height($(window).height() - $('#viewer-wrapper').offset().top);
      $('#viewer').height($('#viewer-wrapper').height());
      console.log( $('#viewer-wrapper').height());
    });
    $(window).trigger('resize');
    $(window).unbind('resize');
    // no scrollbars - this is an app!
    document.body.style.overflow = 'hidden';
    
    // convert all appropriate 'pre's into syntax-highlighters
    //SyntaxHighlighter.highlight();
    
    
    //jj.sh.selected_highlighters = "#mainpre .syntaxhighlighter";
    
    var $m = $("#mainpre");
    var main_esh = jj.sh.initialise($m);
    
    main_esh.load_file(filename);
    
    
    
    
    
    // get html
    $.getJSON('/critiques/get_all', {"repo_id": repo_id, "branch": branch, "filename": filename}, function(data) { 
      var directive = {
        'div.critique':{
          'critique <- critiques':{
            'span.name': 'critique.comments'
          }
        }
      };
      
      $('#critiques').render({critiques: data}, directive);
    });
  });
  
  function jkkj()
  {
    var $lines = $('#mainpre div.highlighted');
    if ($lines.length == 0) {
      alert("you haven't written anything!");
      return;
    }
    
    $.post(
      "/critiques/add",
      {lines: [parseInt($lines.first().index()), parseInt($lines.last().index())], comments: $('#t')[0].value},
      function(msg) {
        alert(msg);
      }
    );
  }
  
  function go()
  {
    $('#popupbuffer div.container').children().remove();
    $('#popupbuffer td.gutter').children().remove();
          
    $("td.gutter div.highlighted").clone().toggle().removeClass('highlighted').appendTo($('#popupbuffer td.gutter'));
    $("div.container div.highlighted").clone().toggle().removeClass('highlighted').appendTo($('#popupbuffer div.container'));
    
    $("#popupbuffer").modal(
      {
        persist: true,
        
        opacity: 66,
        
        overlayCss:{
          backgroundColor: '#ffffff'
        },
        
        onOpen: function(dialog) {
          dialog.overlay.fadeIn('fast');
          dialog.container.fadeIn('fast');
          dialog.data.fadeIn('fast');
        },
        
        onClose: function(dialog) {
          dialog.overlay.fadeOut('fast');
          dialog.container.fadeOut('fast');
          dialog.data.fadeOut('fast');
          $.modal.close();
        }
      }
    );
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

  
  //=====================================================================
  // clear selected text
  //=====================================================================
  function clear_selection() {
    if (window.getSelection) {
      window.getSelection().removeAllRanges();
    }
    else {
      document.selection.clear();
    }
  }
  
  
  
  
  
  
  
</script>


