 
  <!-- jj -->
  <script type="text/javascript" src="/javascripts/jj.js"></script>
  <script type="text/javascript" src="/javascripts/jaja.js"></script>
  
  <style>
   #simplemodal-container {
    background: white;
    -moz-box-shadow: 0px 0px 10px black;
    padding: 10px;
  }
  
  
  
  
  
  #viewer {
    position: absolute;
    left: 400px;
    height: 500px;
    width: 800px;
  }
  
    #lhs-pane {
      float: left;
      height: 100%;
    }
    
      #viewer-content-wrapper
      {
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 100%;
      }
  
        #mainpre {
          position: absolute;
          top: 0px;
          left: 0px;
        }
  
      #vsb {
        height: 100%;
      }
 
 
    #rhs-pane {
      float: right;
      height: 100%;
    }
    
      #hsb {
        bottom: 0px;
      }
  
  table {
    margin: 0;
    padding: 0;
  }
  
  
  
  #mainpre div.container {
    position: relative !important;
    overflow: hidden !important;
  }
  
  #mainpre div.container-wrapper {
    overflow: hidden !important;
    positiion: relative !important;
  }
  
  div.toolbar {
    display: none !important;
  }
  
  .jaja-scrollbar {
    height: 300px;
    width: 80px;
  }
  
  .jaja-scrollbar-nub { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; border: thin solid black; }

  
</style>


<!-- body div -->
<div style="position: absolute; left:0px; top:0px; width:100%; height:100%;">
<a href="javascript:go()">go</a>  
  
  <div id="blah"></div>
  
  <!-- "viewer" -->
  <div id="viewer">
    <%= @repo.url %><br />
    <%= @branch + ":" + @filename %>
    
    <!-- left pane (not vertical scrollbar) -->
    <table style="width: 100%; height: 100%;">
      <tr style="width: 100%; height: 100%;">
        <td style="width: 100%">        
          <!-- actual code -->
          <div id="viewer-content-wrapper">
            <pre id="mainpre" class="brush: js;">
            </pre>
          </div>
        </td>
        <td>
          <!-- vertical scrollbar -->
          <div id="vsb"></div>
        </td>
      </tr>
      <tr>
        <td>
        	<!-- horizontal scrollbar -->
        	<div><div id="hsb"></div></div>
        </td>
        <td></td>
      </tr>
    </table>
    
  </div>
  
<!-- hidden "scratch" buffer -->
<div id="shower" style="position:absolute; left:800px; visibility:hidden" class="hidden">
</div>

<!-- popup buffer -->
<div id="popupbuffer" style="display:none">
  Code:
  <pre id="bdpo" class="brush: js;">
  </pre>
  Comments:
  <textarea class="text_input text_area" name="t" id="t" cols="80" rows="4"></textarea>
  <a href="javascript:jkkj()">Ok</a>
</div>

</div>










<script type="text/javascript">
  
  function jkkj()
  {
    $.post(
      "random/post",
      {lines: [4], comments: $('#t')[0].value},
      function(msg) {
        alert(msg);
      }
    );
  }
  
  //jaja.scrollbar($("#blah"));

  
  
  $(function()
  {
    
	});

  
  document.body.style.overflow = 'hidden';
  jj.sh.selected_highlighters = "#mainpre .syntaxhighlighter";
  
  SyntaxHighlighter.highlight();
  
  var s = $('#vsb');
  
  $('#viewer').mousewheel(function(event, delta) {
    s.slider("value", s.slider("value") + delta * 3);
    s.slider('option', 'slide').call(s, event, {handle: s.slider('widget'), value: s.slider('value')});
    event.preventDefault();
  });
  
  
  function go()
  {
    $('#popupbuffer div.container').children().remove();
    $('#popupbuffer td.gutter').children().remove();
          
    $("td.gutter div.highlighted").clone().toggle().removeClass('highlighted').appendTo($('#popupbuffer td.gutter'));
    $("div.container div.highlighted").clone().toggle().removeClass('highlighted').appendTo($('#popupbuffer div.container'));
    
    $("#popupbuffer").modal(
      {
        persist: true,
        
        opacity: 66,
        
        overlayCss:{
          backgroundColor: '#ffffff'
        },
        
        onOpen: function(dialog) {
          dialog.overlay.fadeIn('fast');
          dialog.container.fadeIn('fast');
          dialog.data.fadeIn('fast');
        },
        
        onClose: function(dialog) {
          dialog.overlay.fadeOut('fast');
          dialog.container.fadeOut('fast');
          dialog.data.fadeOut('fast');
          $.modal.close();
        }
      }
    );
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  //=====================================================================
  // return selected text
  //=====================================================================
  function selection(){
    var t = '';
    if (window.getSelection) {
      t = window.getSelection();
    }
    else if (document.getSelection) {
      t = document.getSelection();
    }
    else if (document.selection) {
      t = document.selection.createRange().text;
    }
    return t;
  }
  
  //=====================================================================
  // clear selected text
  //=====================================================================
  function clear_selection() {
    if (window.getSelection) {
      window.getSelection().removeAllRanges();
    }
    else {
      document.selection.clear();
    }
  }
  
  window.repo_id = <%= @repo.id.to_s %>;
  window.branch = "<%= @branch %>";
  window.filename = "<%= @filename %>";
  window.total_lines = <%= @total_lines %>;
  
  
  
  
  
</script>


