<!DOCTYPE html>
<html>
<head>
	<title>Gitique</title>
	
	<!-- jquery -->
		<!-- core -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
		
		<!-- ui -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>
		<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>

		<!-- mousewheel -->
		<script type="text/javascript" src="/javascripts/jquery.mousewheel.min.js"></script>
		
		<!-- modal -->
		<script type="text/javascript" src="/javascripts/jquery.simplemodal.1.4.1.min.js"></script>
	
		<!-- jaja -->
	<script type="text/javascript" src="/javascripts/jaja.core.js"></script>
	<script type="text/javascript" src="/javascripts/jaja.set.js"></script>
	<script type="text/javascript" src="/javascripts/jaja.dynasize.js"></script>
	<script type="text/javascript" src="/javascripts/jaja.scrollbar.js"></script>
	<script type="text/javascript" src="/javascripts/jaja.esh.js"></script>
	<script type="text/javascript" src="/javascripts/jaja.ui.tabs.js" />
	<!-- end -->
	


	<%= csrf_meta_tag %>
	<%= javascript_include_tag "application.js" %>
	<%= javascript_include_tag "rails.js" %>
	


	<script type="text/javascript" src="/javascripts/pure.min.js"></script>
	
	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
	




	<script type="text/javascript">
		// Always send the authenticity_token with ajax
		$(document).ajaxSend(function(event, request, settings) {
				if ( settings.type == 'post' ) {
						settings.data = (settings.data ? settings.data + "&" : "") + "authenticity_token=" + encodeURIComponent( AUTH_TOKEN );
						request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
				}
		});

		// When I say html I really mean script for rails
		$.ajaxSettings.accepts.html = $.ajaxSettings.accepts.script;
	</script>


	
	
	<!-- syntaxhighlighter -->
	<script type="text/javascript" src="/javascripts/SH/scripts/shCore.js"></script>
	<script type="text/javascript" src="/javascripts/SH/scripts/shBrushJScript.js"></script>
	<link	 type="text/css" rel="stylesheet" href="/javascripts/SH/styles/shCoreDefault.css" />
	
	
	<!-- application -->
	<%= javascript_include_tag "application.js" %>
	<%= stylesheet_link_tag :all %>
	
</head>
<body>
	<!-- title -->
	<div id="title">
		<span class='title'>CODEJUTSU</span><span class='info'>logged in as blah blah blah</span>
	</div>




	<!-- LHS -->
	<div id="lhs">
		
		<div id="the-tabs">
			<ul>
				<li class="default">Tree</li>
				<li>Critiques</li>
				<li>ZOMG</li>
			</ul>
			<div style="overflow: auto">
				<div class="ui-pane">
					<div style="position: relative">
					THERE WOULD BE A ----TREE----- HERE
					</div>
				</div>
				<div class="ui-pane">
					this would be for ####critiques#####
				</div>		
			</div>

		</div>


	</div>

	

	
	<div id="rhs">
		<!-- "viewer" -->
		<div id="viewer-wrapper" class="toolpane active">
			<span class="heading">FILENAME ZOMG</span>
			<div style="position: absolute; display: inline-block; right: 0; text-align: right">
				<span class="minor-heading" style="font-size: 0.8em; color: #bebebe">
					<p style="line-height: 0.9em">
					</p>
				</span>
			</div>
			<div id="viewer">
					<!-- actual editor -->
					<pre id="mainpre" class="brush: js;">
					</pre>

			</div>
		</div>
	</div>





<%= yield %>

</body>
<script>
	function switch_lhs_toolpane(to, duration)
	{
		duration = duration || 200;

		var $tabs = $("#lhs div.tabs a"),
				$active_tab = $("#lhs a.active"),
				$new_tab = $("#lhs a" + to)
				;
		
		// do nothing if they've clicked on the already active tab
		if ($new_tab.get(0) === $active_tab.get(0)) {
			return false;
		}

		$("#lhs .active").removeClass("active").filter("div").animate({
			visibility: true
		});

		$(to).addClass("active");

		// get order of tabs
		var acc_left = $new_tab.outerWidth();
		$new_tab.animate({left: 0}, duration);

		$.each($tabs.not(to), function() {
			var $this = $(this);
			$this.animate({left: acc_left}, duration);
			acc_left += $this.outerWidth();
		});

		
	}	

	var tabs = jaja.ui.tabs("#the-tabs");
	/*tabs.to_panes("#the-tabs > div > div");
	tabs.tab("Tree").bind("close", function() {
		var $this = tabs.tab("Tree").iq;
		$this.parent().swap($this.parent().next());
	});
	tabs.tab("Critiques").bind("close", function() {
		var $this = tabs.tab("Critiques").iq;
		$this.parent().swap($this.parent().next());
	});*/

	switch_lhs_toolpane(".toolpane-tree", 0);
</script>
</html>

