<!DOCTYPE html>
<html>
<head>
  <title>Gitique</title>
  
  <%= csrf_meta_tag %>
  
  <!-- jquery -->
    <!-- core -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    
    <!-- ui -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>

    <!-- mousewheel -->
    <script type="text/javascript" src="/javascripts/jquery.mousewheel.min.js"></script>
    
    <!-- modal -->
    <script type="text/javascript" src="/javascripts/jquery.simplemodal.1.4.min.js"></script>
  
  <!-- end -->
  
  
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
  
  <script type="text/javascript">
    // Always send the authenticity_token with ajax
    $(document).ajaxSend(function(event, request, settings) {
        if ( settings.type == 'post' ) {
            settings.data = (settings.data ? settings.data + "&" : "") + "authenticity_token=" + encodeURIComponent( AUTH_TOKEN );
            request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        }
    });

    // When I say html I really mean script for rails
    $.ajaxSettings.accepts.html = $.ajaxSettings.accepts.script;
  </script>


  
  
  <!-- syntaxhighlighter -->
  <script type="text/javascript" src="/javascripts/SH/scripts/shCore.js"></script>
  <script type="text/javascript" src="/javascripts/SH/scripts/shBrushJScript.js"></script>
  <link   type="text/css" rel="stylesheet" href="/javascripts/SH/styles/shCoreDefault.css" />
  
  
  <!-- application -->
  <%= javascript_include_tag "application.js" %>
  <%= stylesheet_link_tag :all %>
  
</head>
<body>

<%= yield %>

</body>
</html>
